 .cards-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  
    color: #333;
 }

.add-card-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    transition: transform 0.2s ease;
}

.add-card-btn:hover {
    transform: scale(1.1);
    background-color: #218838;
}





.cards-grid {
    display: grid;
   
}

.card {
    background-color: var(--card-background-color, #333);
    padding: 20px;
    border-radius: 8px;
    width: 150px; 
    height: 150px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
